$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@charset "UTF-8";

/*
* Built by Bearpig - www.bearpig.co.uk
*
*/

/*
 * Globals
 */
/* Links */
a {
  color: black;
  font-weight:900;
}
a:focus, a:hover {
  color: black;
  font-weight:900;
  text-decoration:underline;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color:#999;
  background:rgba(255,255,255, 0.2);
  border: 1px solid #fff;
}


/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #000;
  font-family: 'Lato', sans-serif;
  font-size:14px;
  min-width:395px;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;

}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.top_nav {
  z-index:99;
  background:rgba(21,21,21,0.9);
  color:#F0EBD8;    
  top:0px;
  position:fixed;
  width:100%;
  border-bottom:1px solid black;

  ul {
    margin:0 auto;
  }

  li{
    list-style:none;
    float:left;
    text-align:center;
    margin:10px 5%;
    text-transform:uppercase;
    font-weight:900;
    font-size:1.2rem;

    a {
      color:#F0EBD8;  
      text-decoration:none; 
    }

    a:hover,
    a:focus {
      color:white;    
    }

  }

}

.cover-container {
  margin-right: auto;
  margin-left: auto;

}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.background{
   background-image:url(../images/bkg_tri.png);
   background-color:#221F30;
   z-index:-1;
   background-attachment:fixed;
   background-position: center top;
   background-repeat: repeat;
 }
 
.masthead-brand-inner {
  margin-top:0 auto;
  text-align:center;
  background:no-repeat url(../images/header_logo.png) center;
  height:724px;
  color:black;
  text-transform:uppercase;
  padding-top:225px;

  h1{
    font-weight:900;
    font-size:7.5rem;
    margin:10px 0 0;
    line-height:1;
  }

  h2{
    font-weight:700;
    font-size:4rem;
    margin:5px 0;
  }

  p{
    border-top:1px solid black;
    border-bottom:1px solid black;
    font-weight:normal; 
    font-size:2rem;
    max-width:300px;
    margin:0 auto;
    margin-top:20px;    
  }

 }

.masthead-brand img{
  margin-top:0px;
  margin-bottom:50px;   
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;

  h1{
    font-size:1.1rem;
    margin:0px 0 50px 0;
    text-transform:uppercase;
  }

  .btn-lg {
    padding: 15px;
  }

}

.lead{
  font-size:1rem;
  color:#a8a277;
  margin-bottom:50px;

  a{
    font-size:0.9rem; 
  }

}

p.lead {
  padding-left:10%;
  padding-right:10%;
}

.btn-learn {
  margin-right:20px;
  width:200px;
  background:none;
  border:1px solid white;
  color:white;
  font-weight:normal;

}
.btn-register {
  margin-left:20px;
  width:200px;
  background:none;
  border:1px solid white;
  color:white;
  font-weight:normal; 
  padding:20px;
}

.btn-register span, .btn-learn span {
  margin-left:10px;
}

/*
 * Vote Matters
 */

.vote_matters_container{
  background-color:#88B181; 
  color:white;  
  width:100%;
  padding:2%;
  float:left;
  display:block;
  margin-bottom:85px;
}

.vote_matters_inner{
  background-color:#F0EBD7;
  max-width:1000px;
  padding:2%;
  margin:0 auto;
  text-align:left;
  font-size:1rem;

  h2 {
    background:#6988AF;
    color:#F0EBD8; 
    font-size:2.5rem;
    text-transform:uppercase;
    margin-left:-30px;
    padding:10px 0 10px 30px;
    font-weight:900;
    margin-bottom:30px;
  }

  p {
    color: black; 
  }

  ul {
    color: black; 
    font-weight:900;
    margin:20px 0;
    padding-left:5%;
  }

  li {
    background-image:url(../images/list_glyph.png);
    background-repeat:no-repeat;
    background-position:left center;
    padding:10px 0 10px 50px; 
    list-style:none;
  }

}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*
 * States of Jersey
 */

.states_container{
  background-color:#88B181; 
  color:white;  
  width:100%;
  padding:2%;
  float:left;
  display:block;
  margin-bottom:85px;
}

.states_container_inner{
  background-color:#F0EBD7;
  max-width:1000px;
  padding:2%;
  margin:0 auto;
  text-align:left;
  font-size:1rem;

  h2 {
    background:#6988AF;
    color:#F0EBD8; 
    font-size:2.5rem;
    text-transform:uppercase;
    margin-left:-30px;
    padding:10px 0 10px 30px;
    font-weight:900;
    margin-bottom:30px;
  }

  p{
    color:black;
  }

  ul{
    color:black;
    font-weight:900;
    margin:20px 0;  
    padding-left:5%;
  }

  li {
    background-image:url(../images/list_glyph.png);
    background-repeat:no-repeat;
    background-position:left center;
    padding:10px 0 10px 50px; 
    list-style:none;  
  }

}

.states_container img {
  width:90%;
  margin:5%;
  max-width:657px;
}

/*
 * who can I vote for
 */
 
.who_container{
  background-color:#88B181; 
  color:white;  
  width:100%;
  padding:2%;
  float:left;
  display:block;
  margin-bottom:85px;
}

.who_container_inner {
  background-color:#F0EBD7;
  max-width:1000px;
  padding:2%;
  margin:0 auto;
  text-align:left;
  font-size:1rem;

  h2 {
    background:#6988AF;
    color:#F0EBD8; 
    font-size:2.5rem;
    text-transform:uppercase;
    margin-left:-30px;
    padding:10px 0 10px 30px;
    font-weight:900;
    margin-bottom:30px;
  }

  h3 {
    color:#4D4C61; 
    font-size:1.5rem;
    text-transform:uppercase;
    font-weight:900;
  }

  p{
    color:black;
  }

  ul{
    color:black;
    font-weight:900;
    margin:20px 0;  
  } 
   
  img {
    width:100%;
    max-width:855px;
    margin-left:-2.5%;  
    margin-top:30px;
  }

}

/*
 * how can I vote
 */ 
 
 .how_container {
  background-color:#88B181; 
  color:white;  
  width:100%;
  padding:2%;
  float:left;
  display:block;
}

.how_container_inner {
  background-color:#F0EBD7;
  max-width:1000px;
  padding:2%;
  margin:0 auto;
  text-align:left;
  font-size:1rem;

  img {
    width:45%;
    max-width:186px;
    padding:0 2%;
  }

  h2 {
    background:#6988AF;
    color:#F0EBD8; 
    font-size:2.5rem;
    text-transform:uppercase;
    margin-left:-30px;
    padding:10px 0 10px 30px;
    font-weight:900;
    margin-bottom:30px;
  }

  h3 {
    color:#4D4C61; 
    font-size:1.5rem;
    text-transform:uppercase;
    font-weight:900;
  }

  p{
    color:black;
  }

  ul{
    color:black;
    font-weight:900;
    margin:20px 0;  
  } 

}

.how_container_inner_text {
  width:100%;
  margin:10px 0px ; 
  padding:30px 0px;
}

/*
 * twitter
 */ 
 
.twitter_container {
    color: black;
    font-size: 0.9rem;
    padding: 50px 2%;
    text-transform: uppercase;

    p {
      margin-bottom:0px;
    }

    img {
      position:relative;
      top:0;
    }

    img:hover,
    img:focus {
      top:2px;  
    }

}

/*
 * do nothing
 */
.mastfoot {
  color: white;
  background:#EC0F23;
  padding:30px;
  float:left;
  width:100%;

  .nothing_container{
    background:white;
    margin:50px 2% 2%;
    padding:2%;

    h2{
      background:white;
      color:#EC0F23;
      font-weight:900;
      font-size:3rem;
      text-align:left;
      margin:10px 2% 5px;
    }

  }

  img {
    margin-bottom:10px;
    max-width:453px;
    width:100%;
    
  }

  p{
    font-size: 1.2rem;
    text-align: left;
    color: black;
    background:white;
    margin: 0 0 0;
    padding:5px;
    line-height:1.1;
  }

  h2{
    color:  white;
    margin-top:20px;
    margin-bottom:20px;
    text-transform: uppercase;
    font-weight:900;
    font-size:6rem;
    text-align:left;
    line-height:.8;
    margin-left:5%;
  }
}

@media (max-width: 960px) {

  .top_nav ul {

    padding:0;
    padding-left:5px;

    li {
      font-size:1rem;
      margin:10px 3%;
    }
  } 
    
  .masthead .inner.cover {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom:310px;
  }
  .mastfoot {

    img {
      margin-right:20px;  
    }

    span {
      padding-bottom:10px;  
    }
      

    h2{
      font-size:4rem;
    } 

  }
  
  }
  
@media (max-width: 550px) {
  
  .top_nav {
    
    ul {
      margin:0;

      li {
        font-size:.9rem;
        margin:20px 4% 20px 0%;   
      }

    }

  }

  .container img {
    max-width: 320px;
  }

  .masthead-brand-inner {
    background-size:80%;
    background-position:center; 
    height:655px;

    p{
      font-size:1.2rem;
      width:50%
    }

    h1{
      font-size:5rem; 
    }

    h2 {
      font-size:3rem; 
    }

  }

  .masthead .inner.cover {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom:130px;
  }

  .vote_matters_inner h2, .states_container_inner h2, .who_container_inner h2, .how_container_inner h2{
    font-size:1.7rem; 
  }

  .how_container_inner img {
    width:25%;
      
  }

  .mastfoot {
    padding:20px 20px 50px 20px;
    text-align:center;

    .nothing_container h2{
      font-size:2.5rem;
      margin-bottom:20px;
    }

    p{
      padding-bottom:20px;
      font-size:1rem;
    }

    h2{
      font-size:3rem;
    }

  }

}